In [1]:
import numpy as np
import pandas as pd

In [4]:
{
    "tags": [
        "hide-input",
    ]
}

mugello = pd.read_csv('Mugello.csv', index_col=0)
mugello.head()

,LAP,Daniel.RICCIARDO,Lando.NORRIS,Sebastian.VETTEL,Nicholas.LATIFI,Kimi.RAIKKONEN,Romain.GROSJEAN,Pierre.GASLY,Sergio.PEREZ,Charles.LECLERC,...,Kevin.MAGNUSSEN,Alexander.ALBON,Daniil.KVYAT,Esteban.OCON,Max.VERSTAPPEN,Lewis.HAMILTON,Carlos.SAINZ,George.RUSSELL,Valtteri.BOTTAS,Antonio.GIOVINAZZI
1,1,141.000,145.000,192.000,154.000,181.000,183.000,NaN,142.000,136.000,...,153.000,138.000,147.000,148.000,NaN,135.000,164.000,149.000,132.000,155.000
2,2,144.786,144.371,112.400,142.833,120.769,117.221,NaN,145.389,146.424,...,142.262,145.960,144.130,143.856,NaN,146.653,135.826,144.480,148.572,143.099
3,3,137.351,137.331,135.684,137.245,137.105,137.211,NaN,137.193,136.385,...,137.241,136.967,137.237,137.987,NaN,136.551,136.430,137.132,137.078,136.806
4,4,135.385,134.602,136.774,133.727,135.592,134.294,NaN,134.942,135.131,...,133.812,134.650,134.702,134.439,NaN,134.621,134.153,134.898,133.468,133.809
5,5,132.873,132.713,132.292,134.383,133.244,134.068,NaN,132.602,133.400,...,134.825,133.442,132.980,133.705,NaN,133.693,134.103,133.501,134.247,134.220

## 2. 
**Zet de dataset om van een wide format naar een long format.**

In [3]:
mugello_long = pd.melt(mugello, id_vars=['LAP'], value_name="lap_time", var_name="driver")
mugello_long.head()

   LAP            driver  lap_time
0    1  Daniel.RICCIARDO   141.000
1    2  Daniel.RICCIARDO   144.786
2    3  Daniel.RICCIARDO   137.351
3    4  Daniel.RICCIARDO   135.385
4    5  Daniel.RICCIARDO   132.873

met unstack:

In [ ]:
mugello_long2 = mugello.stack()
mugello_long2.head()

## 3. 
**Wie reed de snelste ronde?**

Je kan sorteren:

In [ ]:
mugello_long.sort_values(by = "lap_time").head(1)

Of filteren op de laagste rondetijd:

In [ ]:
mugello_long.loc[mugello_long.lap_time == mugello_long.lap_time.min()]

## 4. 
**Verwijder de NA waardes uit de dataset**

Er zitten 403 NA's in de kolom lap_time (omdat sommige coureurs de race niet hebben uitgereden):

In [ ]:
pd.isna(mugello_long).sum()

In [ ]:
mugello_long2 = mugello_long.dropna()
pd.isna(mugello_long2).sum()

Indien je gebruik wil maken van inplace = True kan dit ook. Dan hoef je de nieuwe dataset niet onder een andere naam op te slaan.

In [ ]:
mugello_long.dropna(inplace=True)
pd.isna(mugello_long).sum()

## 5. 
**Wat is de gemiddelde rondetijd?**

In [ ]:
mugello_long2.lap_time.mean()

## 6. 
**Bereken de snelste rondetijd per coureur en sla deze op als variabele in het dataframe**<br>
**Bereken tevens het verschil van de rondetijd met de snelste ronde deze coureur en sla dit op in een nieuwe variabele, doe deze twee berekeningen in Ã©Ã©n assign functie**

In [ ]:
mugello_long2 = mugello_long2.assign(Snelste = lambda x: x.groupby('driver')["lap_time"].transform(min),
                                    Verschil = lambda x: x["lap_time"] - x["Snelste"])
mugello_long2

## 7. 
**Bereken de totale tijd gereden vanaf de eerste ronde per coureur. Maak een nieuwe kolom
om deze informatie op te slaan.**

In [ ]:
mugello_long2 = mugello_long2.assign(total2 = lambda x: x.groupby('driver')["lap_time"].cumsum())

## 8. 
**Zet de dataset op volgorde van totale tijd verstreken van klein naar groot**

In [ ]:
mugello_long2 = mugello_long2.sort_values('total')
mugello_long2.head()

## 9. 
**Selecteer alleen de variabelen met Lap, driver en laptime**

In [ ]:
mugello_long_select = mugello_long2.loc[:,['LAP','driver','lap_time']]
mugello_long_select.head()

## 10. 
**Zet de dataset weer om in een wideformat**

In [ ]:
mugello_wide = mugello_long_select.pivot(index='LAP', columns='driver', values='lap_time')
mugello_wide.head()